Repository banyudu/verdaccio-migrate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

feat: migrate packages with npm-migrate-all
  .lintstagedrc
  package.json
  pnpm-lock.yaml
  src/cli.ts
  src/global.d.ts
  src/index.ts
  tsconfig.json
Due: prettier --write, eslint

feat: upgrade npm-migrate-all dependency
  package.json
  pnpm-lock.yaml
Due: none

fix: bin path
  package.json
Due: none

docs: update readme
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: cli shbang
  package.json
  src/cli.ts
Due: prettier --write, eslint

fix: upgrade npm-migrate-all dependency
  package.json
  pnpm-lock.yaml
Due: none

feat: upgrade npm-migrate-all
  package.json
  pnpm-lock.yaml
Due: none

feat: show summary info
  .eslintrc
  .eslintrc.js
  package.json
  pnpm-lock.yaml
  src/cli.ts
Due: prettier --write, eslint

fix: update dependency
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

0.1.7
  package.json
Due: none

fix: update dependency
  package.json
  pnpm-lock.yaml
Due: none

0.1.8
  package.json
Due: none

0.1.9
  package.json
Due: none

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.md)
  eslint: any of: *.ts
